name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.8' # The Go version to download 
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.36.0
          skip-go-installation: true
      - run: go test ./...
